<%-include("header") -%>
<div class="header">
  <a href="" class="logo">Job Analyser</a>
</div>
<form action="/" method="post">
  <label><h2 style="margin-bottom: 25px;margin-top: 25px;">Entet the Url To Analyse:</h2></label>
  <textarea name="enteredItem" rows="2" cols="90"></textarea>
  <button class="btn" type="submit" name="button" value="val">Analyse</button>
</form>
<%-include("footer") -%>
