<%-include("header") -%>
<div class="header">
  <a href="" class="logo">Job Analyser</a>
</div>
<div style="width: auto; float:left;  height:100px;margin:10px">
  <h1>Top Skills</h1>
  <ul>
    <%top.forEach(function(item){%>
      <li>
        <h3 style="text-transform:capitalize;"><%=item%></h3>
      </li>
    <%})%>
  </ul>
</div>
<form  action="/home" method="post">
  <button style="margin-top:500px;" type="submit" name="button">Return To Home</button>
</form>
<%-include("footer") -%>
